name: build-angular-app

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        working-directory: Angular-Build-Workflow
        run: npm install

      - name: Build Angular App
        working-directory: Angular-Build-Workflow
        run: npm run build --prod
